body {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a:hover {
    color: #f08a14;
    text-decoration: none;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #f08a14;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #f08a14;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
}
.header-logo-block {
    width: 250px;
}
.header-logo-block img {
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px 0;
}
.header-page {
    border-bottom: 2px solid #e6e6e6;
}
.phone-header-block {
    display: flex;
    flex-direction: column;
}
.phone-header-block a {
    font-weight: bold;
    font-size: 18px;
    color: #f08a14;
}
.phone-header-block a:hover {
    color: #FFA684;
}
.main-banner-block {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.banner-main-img {
    width: 40%;
}
.banner-main-img img {
    width: 100%;
}
.main-button-inputs {
    width: 60%;
    text-align: center;
}
.main-button-inputs input {
    border-radius: 4px;
    border: 2px solid #f08a14;
    padding: 8px 10px;
    width: 38%;
    margin: 10px 15px 20px 15px;
    z-index: 11;
}
.main-button-inputs input:focus {
    outline: none;
}
.main-button-inputs button {
    background-color: #f08a14;
    color: #fff;
    border: none;
    border-radius: 4px;
    border: 2px solid #f08a14;
    padding: 10px 30px;
    z-index: 11;
}
.main-button-inputs button:hover {
    background-color: #fff;
    color: #f08a14;
}
.main-button-inputs form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-button-inputs h1 {
    font-size: 40px;
}
.main-button-inputs p {
    font-size: 16px;
}
.header-page.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
}
.border-bottom-section, .description-text-block {
    border-bottom: 2px solid #e6e6e6;
}
.section-title {
    font-weight: bold;
    margin: 0 0 30px 0;
}
.description-text-block p {
    font-size: 16px;
}
.description-text-block {
    padding: 20px 0;
}
.section-goods-flex {
    display: flex;
    justify-content: space-between;
}
.goods-page-title-img {
    width: 48%
}
.goods-page-discription {
    width: 48%;
}
.goods-price-details-read-more a {
    color: #f08a14;
}
.goods-price-details-read-more a:hover {
    color: #FFA684;
}
.goods-price-details-from {
    color: #e6e6e6;
}
.goods-price-details {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.goods-page-block {
    border-bottom: 2px solid #e6e6e6;
    margin: 30px 0;
    padding-bottom: 30px;
}
.section-title-center {
    text-align: center;
}
.reasons-block-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.reasons-block-icon {
    width: 100px;
    text-align: center;
}
.reasons-block-icon i {
    color: #f08a14;
    font-size: 60px;
    padding-top: 15px;
}
.reasons-block-left {
    width: 40%;
    text-align: right;
}
.reasons-block-right {
    width: 40%;
}
.reasons-block-row h4 {
    font-weight: bold;
}
.results-block {
    padding: 30px 0;
}
.results-items-flex {
    display: flex;
    justify-content: space-between;
}
.results-item {
    width: 32%;
    text-align: center;
}
.results-icon {
    font-size: 70px;
    color: #f08a14;
}
.results-number {
    font-size: 55px;
}
.about-company {
    padding: 30px 0 20px 0;
}
.price-block-flex {
    display: flex;
    justify-content: space-between;
}
.price-block-table {
    width: 58%;
}
.price-block-description {
    width: 38%;
}
.results-item-kmr {
    width: 18%;
    text-align: center;
}
.results-items-flex-kmr {
    justify-content: center;
}
.comment-block-row {
    display: flex;
    margin-bottom: 30px;
}
.comment-user-avatar {
    width: 16%;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 50%;
}
.comment-user-avatar img {
    width: 100%;
}
.comment-user-text {
    width: 83%;
}
.footer-copyright {
    text-align: center;
    padding: 30px 0;
}
.header-logo-block a {
    color: #777;
}
.header-logo-block a:hover {
    color: #f08a14;
}
.contact-block a, .links-footer a {
    display: block;
    color: #777;
}
.contact-block a:hover, .links-footer a:hover {
    color: #f08a14;
}
.contact-block {
    margin-bottom: 20px;
}
.links-footer-block {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.section-goods-flex-reverse {
    flex-direction: row-reverse;
}
.anchor {
    padding-top: 80px;
    margin-top: -80px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    display: block;
}
.goods-page-img img {
    width: 100%;
}
.modal-content .close {
    right: 10px;
    top: 7px;
    position: relative;
    z-index: 11;
}
.modal-title {
    margin-bottom: 15px;
}
.modal-body .main-button-inputs {
    width: 100%;
}
.modal-body .main-button-inputs input {
    width: 100%;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #f08a14;
}
.carousel-item-img {
    padding: 10px;
}
.galery-flex-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}
.galery-item {
    width: 32%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
}
.galery-item img {
    width: 100%;
}
@media (max-width: 1199px) {
    .header-logo-block {
        width: 200px;
    }
}
@media (max-width: 991px) {
    .navbar-default {
        flex-wrap: wrap;
    }
    .phone-header-block {
        width: 100%;
        text-align: center;
    }
    .main-button-inputs form {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .main-button-inputs input {
        width: 100%;
    }
    .anchor {
        padding-top: 150px;
        margin-top: -150px;
    }
    .galery-item {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .navbar-default {
        display: block;
    }
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
        border-top: none;
        box-shadow: none;
        width: 100%;
    }
    .banner-main-img {
        display: none;
    }
    .main-button-inputs {
        width: 100%;
    }
    .section-goods-flex {
        flex-wrap: wrap;
    }
    .goods-page-title-img {
        width: 100%;
    }
    .goods-page-discription {
        width: 100%;
    }
    .reasons-block-row {
        flex-direction: column;
    }
    .reasons-block-left, .reasons-block-right, .reasons-block-icon {
        width: 100%;
        text-align: center;
    }
    .results-items-flex {
        flex-direction: column;
    }
    .results-item {
        width: 100%;
    }
    .results-item-kmr {
        width: 100%;
    }
    .results-icon-kmr {
        transform: rotate(90deg);
    }
    .links-footer-block {
        flex-wrap: wrap;
    }
    .section-title {
        text-align: center;
    }
    .navbar-toggle {
        margin-top: 0;
        margin-right: 0;
    }
    .galery-item {
        width: 100%;
    }
}