body {
    font-family: 'Open Sans', sans-serif;
}
a {
    transition: all .3s linear;
}
h1, h2, h3 {
    text-align: center;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-contact-block {
    display: flex;
    align-items: center;
}
.header-tel-block a {
    font-size: 22px;
    color: #000;
    text-decoration: none;
    display: block;
}
.header-tel-block a:hover {
    color: #f60;
}
.header-button-block a {
    padding: 10px 20px;
    background-color: #f60;
    border-radius: 4px;
    color: #fff;
    margin-left: 15px;
    border: 2px solid #f60;
}
.header-button-block a:hover {
    background-color: #fff;
    color: #f60;
    text-decoration: none;
}
.navbar {
    min-height: auto;
    padding: 10px 0px;
    border: none;
    border-radius: 0;
}
.navbar-nav {
    display: flex;
    width: 100%;
}
.navbar-nav > li {
    flex-grow: 1;
    text-align: center;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #f60;
}
.navbar-default {
    background-color: #f5f5f9;
    border-radius: 4px;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #f60;
}
.owl-item {
    position: relative;
}
.owl-absolut-block {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 20%;
}
.owl-feedback-form {
    text-align: center;
    border: 2px solid #f60;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form input:focus {
    outline: 2px solid #f60;
}
.owl-feedback-form a, .catalog-item-btn a {
    background-color: #f60;
    padding: 10px;
    color: #fff;
    border: 2px solid #f60;
    border-radius: 4px;
    display: block;
}
.owl-feedback-form a:hover, .catalog-item-btn a:hover {
    color: #f60;
    background-color: #fff;
    text-decoration: none;
}
.owl-absolut-slogan {
    font-size: 30px;
    color: #fff;
}
.first-page-advantages {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    background-color: #f5f5f9;
    padding: 30px;
    flex-wrap: wrap;
}
.first-page-advantages-item {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    margin-bottom: 30px;
}
.first-page-advantages-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f9;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    color: #f60;
    font-size: 30px;
}
.first-page-advantages-desc {
    text-align: center;
}
.first-page-advantages-title {
    font-size: 18px;
    margin: 10px 0;
    color: #000;
}
.catalog-block-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item {
    width: 32%;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}
.catalog-item-img img {
    width: 100%;
}
.catalog-item-btn {
    padding: 15px;
}
.catalog-item-title {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
    padding: 0 15px;
}
.catalog-item-price {
    font-size: 16px;
    color: rgba(122,122,122,1);
    padding: 0 15px;
}
button.close {
    position: relative;
    z-index: 1;
    right: 3px;
}
.title-page {
    margin-bottom: 40px;
}
.kmr-block {
    background-color: #f5f5f9;
    padding: 20px 0 30px 0;
}
.kmr-block-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kmr-flex-block-number {
    border: 6px solid #f60;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.kmr-flex-block-desc {
    margin-top: 15px;
    text-align: center;
}
.kmr-flex-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.kmr-arrow-block i {
    font-size: 40px;
    color: #f60;
}
.kmr-block h2 {
    margin-bottom: 20px;
}
.footer-page {
    background-color: #f5f5f9;
    padding: 30px 0;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.footer-links a {
    display: block;
    color: #000;
    text-decoration: none;
}
.footer-links a:hover {
    color: #f60;
}
.footer-copyright {
    text-align: center;
    margin-top: 30px;
}
.header-logo img, .footer-logo img {
    width: 317px;
}
.map-block h2 {
    margin: 40px 0;
}
.footer-links .owl-feedback-form a {
    color: #fff;
}
.application-item img {
    width: 54px;
}
.application-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin-bottom: 15px;
}
@media(max-width: 1200px) {
    .owl-absolut-block {
        top: 3%;
    }
}
@media(max-width: 1066px) {
    .owl-absolut-block {
        top: 0;
    }
    .owl-absolut-block .owl-feedback-form {
        padding: 14px;
    }
}
@media(max-width: 991px) {
    .owl-absolut-block {
        display: none;
    }
    .first-page-advantages {
        flex-wrap: wrap;
    }
    .first-page-advantages-item {
        width: 46%;
        margin-bottom: 30px;
    }
    .catalog-item {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .navbar {
        min-height: auto;
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0 -15px;
    }
    .navbar-default {
        background-color: #f5f5f9;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle {
        border: 1px solid #f60;
        border-radius: 4px;
        background-color: #f60;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #f60;
    }
    .navbar-nav {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-flex {
        flex-wrap: wrap;
    }
    .footer-links {
        width: 100%;
    }
    .header-flex {
        flex-wrap: wrap;
    }
    .header-tel-block a {
        font-size: 16px;
    }
}
@media(max-width: 600px) {
    .kmr-flex-block {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .kmr-arrow-block {
        display: none;
    }
    .kmr-block-item {
        width: 48%;
    }
    .kmr-block-item {
        margin-bottom: 30px;
    }
    .catalog-item {
        width: 100%;
    }
    .first-page-advantages-item {
        width: 100%;
    }
    .header-logo img, .footer-logo img {
        width: 100%;
    }
}